.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  /* padding: var(--padding-xl) 0; */
  color: white;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-80%);
  }
}

.inner {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  animation: scroll 120s forwards infinite;
  animation-timing-function: linear;
}

.imageWrapper {
  display: flex;
  align-items: center;
  padding: 1rem 1rem;
  border-radius: 1.5rem;
  position: relative;
}

.imageWrapper > img {
  width: 100px;
  height: 100px;
}

.imageWrapper:after {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;

  /* border: 1px solid white; */
  background: linear-gradient(
    rgba(2, 5, 6, 1) 10%,
    rgba(0, 0, 0, 0.03265056022408963) 50%,
    rgba(2, 5, 6, 1) 100%
  );
}

@media screen and (max-width: 414px) {
  .inner {
    animation: scroll 40s forwards infinite;
    animation-timing-function: linear;
  }
}
