.card {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  border: 1px solid white;
  border-radius: 0.5rem;
  flex-direction: column;
  /* width: 275px; */
  color: white;
  padding: 1rem;
  margin: 0 0.5rem;
}

.card > h3 {
  max-width: 275px;
  margin: 1rem 0;
}

.row {
  margin: 0.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8rem;
}

.arrow {
  transform: rotate(-45deg);
}

/* .imageWrapper {
  content: '';
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgb(0, 0, 0) 100%,
    rgba(0, 0, 0, 1) 100%
  );
} */
