:root {
  --main-color: rgba(2, 5, 6, 1);
  --max-width: 1386px;
  --padding-sm: 0.5rem;
  --padding-md: 1rem;
  --padding-lg: 2rem;
  --padding-xl: 3rem;
  --margin-sm: 0.5rem;
  --margin-md: 1rem;
  --margin-lg: 2rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: black;
}

@font-face {
  font-family: 'Norwester';
  src: url(/fonts/norwester.otf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Neue';
  src: url('https://use.typekit.net/af/1ba16c/00000000000000007735bb5a/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/1ba16c/00000000000000007735bb5a/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3')
      format('woff'),
    url('https://use.typekit.net/af/1ba16c/00000000000000007735bb5a/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3')
      format('opentype');
  font-style: normal;
  font-weight: 500;
}

h1,
h2,
h3,
h4 {
  font-family: 'Norwester';
}

p,
span,
a {
  font-family: 'Neue';
}

.section {
  background-color: var(--main-color);
  width: 100vw;
  height: 100vh;
  /* z-index: 2; */
  position: relative;

  display: flex;
}

@media screen and (max-width: 414px) {
  .section {
    flex-direction: column;
  }
}
