.background {
  justify-content: center;
  max-width: var(--max-width);
  margin: 0 auto;
  position: relative;
}

.imageWrapper {
  top: -10rem;
  left: -15rem;
  width: 100%;
  position: absolute;
}

.imageWrapper > img {
  width: 1175px;
  height: 1175px;
}

.wrapper {
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: center;
  max-width: 950px;
  margin: 0 auto;
  padding-left: 15rem;

  /* align-items: center; */
}

.aboutRow {
  display: flex;
  flex-direction: row;
  margin: 2rem 0;
  justify-content: space-evenly;
}

.about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.hidden {
  visibility: hidden;
}

.aboutRow > * {
  width: 100%;
}

/* .button {
  max-width: 100px;
  border: 1px solid white;
  padding: 3px;
  border-radius: 1rem;
  align-self: flex-end;
} */

.header {
  font-family: 'Norwester';
  font-size: 2.5rem;
}

.aboutColumn > div {
  width: fit-content;
  margin: var(--margin-md) 0;
}

.aboutColumn > p {
  margin-bottom: var(--margin-lg);
}

.mobileHeader {
  display: none;
}

@media screen and (max-width: 414px) {
  .aboutRow {
    flex-direction: column;
    align-items: flex-end;
  }
  .wrapper {
    width: 100%;
    padding: 0 var(--padding-md);
  }
  .about {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .header {
    font-size: 1.5rem;
  }
  .imageWrapper {
    top: -10rem;
    left: 0;

    width: 100%;
    position: absolute;
  }
  .imageWrapper > img {
    width: 500px;
    height: 500px;
  }

  .about {
    margin: var(--margin-md) 0;
  }

  .mobileHeader {
    display: inline;
  }

  .desktopHeader {
    display: none;
  }
}
