.background {
  justify-content: center;
  max-width: var(--max-width);
  margin: 0 auto;
}

.imageWrapper {
  top: -10rem;
  width: 40%;
  position: absolute;
}

.wrapper {
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: center;
  max-width: 750px;
  margin: 0 auto;

  /* align-items: center; */
}

.aboutRow {
  display: flex;
  flex-direction: row;
  margin: 2rem 0;
  justify-content: space-evenly;
}

.about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.hidden {
  visibility: hidden;
}

.aboutRow > * {
  width: 100%;
}

.button {
  max-width: 100px;
  border: 1px solid white;
  padding: 3px;
  border-radius: 1rem;
  align-self: flex-end;
}

.header {
  font-family: 'Norwester';
  font-size: 2.5rem;
}

@media screen and (max-width: 414px) {
  .aboutRow {
    flex-direction: column;
    align-items: flex-end;
  }
  .wrapper {
    width: 100%;
  }
  .about {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
