.background {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.wrapper {
  color: white;
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
}

.sidebar {
  display: flex;
  width: 35%;
  flex-direction: row;
  justify-content: space-around;
}

.main {
  display: flex;
  width: 100%;
  flex-direction: column;
  max-width: 1200px;
}

.featuresWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.feature {
  border: 1px solid white;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem var(--padding-lg);
  margin: 0.5rem;
  margin-top: 0;
}

.header {
  font-size: 4rem;
  width: 20ch;
  z-index: 5;
}

.main > span {
  font-size: 2rem;
  margin: var(--margin-md) 0;
}

.featuresAbout {
  position: relative;
  z-index: 5;
}

.image {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 20rem;
  filter: brightness(0.7);
}

.image > img {
  width: 500px;
  height: 500px;
}

.featuresAbout > p {
  max-width: 80ch;
  z-index: 5;
}

.featuresAbout > * {
  margin: var(--margin-md) 0;
  z-index: 25;
}

@media screen and (max-width: 414px) {
  .wrapper {
    flex-direction: column;
    padding: 0 var(--padding-md);
    width: 100%;
  }
  .header {
    font-size: 2rem;
  }
  .featuresWrapper {
    overflow-y: auto;
    flex-wrap: nowrap;
  }
  .feature {
    min-width: 300px;
  }
  .sidebar {
    margin: var(--margin-md) 0;
  }
  .image {
    left: 0;
  }
}
