.background {
  background-image: url('../../../public/images/02.jpg');
  background-size: cover;
  background-position: center, center;

  background-image: -moz-linear-gradient(
      rgba(2, 5, 6, 1) 0%,
      rgba(0, 0, 0, 0.03265056022408963) 50%,
      rgba(2, 5, 6, 1) 100%
    ),
    url('../../../public/images/02.jpg');
  background-image: -webkit-linear-gradient(
      rgba(2, 5, 6, 1) 0%,
      rgba(0, 0, 0, 0.03265056022408963) 50%,
      rgba(2, 5, 6, 1) 100%
    ),
    url('../../../public/images/02.jpg');
  background-image: linear-gradient(
      rgba(2, 5, 6, 1) 0%,
      rgba(0, 0, 0, 0.03265056022408963) 50%,
      rgba(2, 5, 6, 1) 100%
    ),
    url('../../../public/images/02.jpg');
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
}

.header {
  font-size: 5rem;
}

.wrapper {
  width: 100%;
  max-width: var(--max-width);
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  /* padding: 1rem; */
  margin: 0 auto;
  color: white;
}

.aboutColumn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.aboutColumn > p {
  max-width: 300px;
  margin: 0.5rem 0;
  font-weight: 450;
  font-family: 'Neue';
}

.aboutColumn > span {
  margin: 0.5rem 0;
}

.aboutColumnTop {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.aboutColumnTop > p {
  max-width: 300px;
  margin: 0.5rem 0;
}

.aboutColumnTop > span {
  margin: 0.5rem 0;
}

@media screen and (max-width: 414px) {
  .wrapper {
    flex-direction: column;
    align-items: flex-start;
    padding: 0 var(--padding-md);
  }

  .aboutColumnTop {
    flex-direction: column-reverse;
  }

  .desktopHeader {
    display: none;
  }
}
