.background {
  color: white;
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  position: relative;
}

.wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  justify-content: space-between;
}

.sidebar {
  display: flex;
  height: 300px;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar > p {
  font-size: 1.5rem;
  max-width: 30ch;
}

.logo {
  position: absolute;
  bottom: 1rem;
  margin: 0 auto;
  filter: brightness(0.1) sepia(0.6) hue-rotate(-150deg) saturate(5);
}

.navbar {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: flex-end;
}

.navwrapper {
  display: flex;
  width: 400px;
  justify-content: space-between;
}

.leftNav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.linksWrapper {
  display: flex;
  flex-direction: column;
}

.linksWrapper > * {
  margin: 0.25rem 0;
}

.socialWrapper {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.socialWrapper > * {
  margin: 0.25rem 0;
}

.rightNav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.officeWrapper {
  display: flex;
  flex-direction: column;
}

.officeWrapper > * {
  font-size: 1rem;
  margin: 0.2rem 0;
}

.rightNav > span {
  margin: 0.25rem 0;
}

@media screen and (max-width: 414px) {
  .wrapper {
    flex-direction: column;
    padding: 0 1rem;
  }

  .navbar {
    margin: 2rem 0;
  }

  .sidebar {
    height: 200px;
    margin: 2rem 0;
  }

  .navwrapper {
    width: 100%;
    justify-content: flex-start;
  }

  .rightNav {
    margin-left: 2rem;
  }

  .logo {
    position: absolute;
    bottom: -1rem;
    max-width: 360px;
    margin: 0 auto;
  }
}
