.background {
  background-image: url('../../../public/images/01.jpg');
  background-size: cover;
  background-position: center, center;
  /* filter: brightness(0.8); */

  background-image: -webkit-linear-gradient(
      rgba(0, 0, 0, 0) 0%,
      rgba(2, 5, 6, 1) 100%
    ),
    url('../../../public/images/01.jpg');
  background-image: -moz-linear-gradient(
      rgba(0, 0, 0, 0) 0%,
      rgba(2, 5, 6, 1) 100%
    ),
    url('../../../public/images/01.jpg');
  background-image: -o-linear-gradient(
      rgba(0, 0, 0, 0) 0%,
      rgba(2, 5, 6, 1) 100%
    ),
    url('../../../public/images/01.jpg');
  background-image: -ms-linear-gradient(
      rgba(0, 0, 0, 0) 0%,
      rgba(2, 5, 6, 1) 100%
    ),
    url('../../../public/images/01.jpg');
  background-image: linear-gradient(
      rgba(0, 0, 0, 0) 0%,
      rgba(2, 5, 6, 1) 100%
    ),
    url('../../../public/images/01.jpg');
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  color: white;
  justify-content: space-between;
  max-width: 1386px;
  padding: 1rem;
  margin: 0 auto;
}

.headerwrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  height: 100%;
}

.ctawrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 100%;

  padding-bottom: 3rem;
}

.test {
  display: flex;
  justify-self: center;
  max-width: 25ch;
  margin: 0 auto;
}

.headerwrapper > h1 {
  font-size: 3rem;
  line-height: 1.3;
  max-width: 30ch;
}

.subheader {
  font-size: 1.5rem;
}

.ctawrapper > p {
  max-width: 25ch;
}

/* .ctawrapper > div {
  justify-self: flex-end;
  margin: 0 auto;
} */

/* button */
.button {
  display: flex;
  align-items: center;
  border: 1px solid white;
  /* align-self: flex-start; */
  padding: 0.5rem 2rem;
  border-radius: 1rem;
}

.button > img {
  margin: 0 0.25rem;
}
