.background {
  background-image: url('../../../public/images/01.jpg');
  background-size: cover;
  background-position: center, center;
  /* filter: brightness(0.8); */

  background-image: -webkit-linear-gradient(
      rgba(0, 0, 0, 0) 0%,
      rgba(2, 5, 6, 1) 100%
    ),
    url('../../../public/images/01.jpg');
  background-image: -moz-linear-gradient(
      rgba(0, 0, 0, 0) 0%,
      rgba(2, 5, 6, 1) 100%
    ),
    url('../../../public/images/01.jpg');
  background-image: -o-linear-gradient(
      rgba(0, 0, 0, 0) 0%,
      rgba(2, 5, 6, 1) 100%
    ),
    url('../../../public/images/01.jpg');
  background-image: -ms-linear-gradient(
      rgba(0, 0, 0, 0) 0%,
      rgba(2, 5, 6, 1) 100%
    ),
    url('../../../public/images/01.jpg');
  background-image: linear-gradient(
      rgba(0, 0, 0, 0) 0%,
      rgba(2, 5, 6, 1) 100%
    ),
    url('../../../public/images/01.jpg');
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  color: white;
  justify-content: space-between;
  max-width: var(--max-width);
  /* padding: 1rem; */
  margin: 0 auto;
  position: relative;
}

.headerwrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: flex-end;
  height: 100%;
}

.ctawrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 100%;

  padding-bottom: 5rem;
}

.textwrap {
  display: flex;
  justify-self: center;
  max-width: 25ch;
  margin: 1rem auto;
}

.headerwrapper > h1 {
  font-size: 3.5rem;
  line-height: 1.3;
  max-width: 20ch;
  font-family: 'Norwester';
  font-weight: 400;
}

.subheader {
  font-size: 1.5rem;
}

.ctawrapper > p {
  max-width: 25ch;
}

/* .ctawrapper > div {
  justify-self: flex-end;
  margin: 0 auto;
} */

/* button */
.button {
  display: flex;
  align-items: center;
  border: 1px solid white;
  /* align-self: flex-start; */
  padding: 0.5rem 2rem;
  border-radius: 1rem;
  margin: 1rem 0;
}

.button > img {
  margin: 0 0.25rem;
}

@media screen and (max-width: 414px) {
  .wrapper {
    justify-content: space-between;
    padding: 0 var(--padding-md);
  }

  .ctawrapper {
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
  }
  .textwrap {
    margin: 1rem 0;
    max-width: 30ch;
  }

  /* .headerwrapper {
    flex-direction: column;
  } */

  .headerwrapper > h1 {
    font-size: 2.4rem;
    line-height: 1.3;
    max-width: 30ch;
  }
}
