.background {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.wrapper {
  color: white;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.sidebar {
  display: flex;
  width: 35%;
  /* align-items: center; */
  flex-direction: row;
  justify-content: space-around;
}

.main {
  display: flex;
  width: 100%;
  flex-direction: row;
  max-width: 1200px;
}
